# ── Umami Analytics ──────────────────────────────────────────────────────────
UMAMI_ID=your-umami-id-here
UMAMI_URL=your-umami-url-here

# ── Formspree.io ─────────────────────────────────────────────────────────────
FORMSPREE_ID=your-formspree-id-here

# ── Sanity.io ────────────────────────────────────────────────────────────────
SANITY_PROJECT_ID=your-sanity-id-here