# Dépendances Node.js
node_modules/
api/node_modules/
npm-debug.log*

# Base de données SQLite (très important pour ne pas écraser la prod)
api/*.db
api/*.db-journal

# Logs
logs
*.log

# Docker
.dockerprod

# OS (Mac/Windows)
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/