<footer class="footer py-5 mt-4">
  <div class="container">
    <div class="row gy-5">
      <div class="col-12 col-md-5 text-center text-md-start">
        <h4 class="text-accent fw-bold mb-3">Mon Bac Pro CIEL</h4>
        <p class="mb-3">© 2025-2026 — Développé par Emilien OLIVAREZ</p>
      </div>

      <div class="col-12 col-md-4 text-center text-md-start footer-link">
        <h4 class="text-accent fw-bold mb-3">Explorer</h4>
        <a
          href="/"
          class="d-block text-decoration-none mb-1"
          data-umami-event="Footer"
          data-umami-event-footer="Accueil"
          >Accueil</a
        >
        <a
          href="formation"
          class="d-block text-decoration-none mb-1"
          data-umami-event="Footer"
          data-umami-event-footer="Formation"
          >Formation</a
        >
        <a
          href="debouches"
          class="d-block text-decoration-none mb-1"
          data-umami-event="Footer"
          data-umami-event-footer="Débouchés"
          >Débouchés</a
        >
        <a
          href="projets"
          class="d-block text-decoration-none mb-1"
          data-umami-event="Footer"
          data-umami-event-footer="Projets"
          >Projets</a
        >
        <a
          href="stages"
          class="d-block text-decoration-none mb-1"
          data-umami-event="Footer"
          data-umami-event-footer="Stages"
          >Stages</a
        >
        <a
          href="temoignages"
          class="d-block text-decoration-none mb-1"
          data-umami-event="Footer"
          data-umami-event-footer="Témoignages"
          >Témoignages</a
        >
      </div>

      <div class="col-12 col-md-3 text-center text-md-start">
        <h4 class="text-accent fw-bold mb-3">Ressources</h4>
        <div class="footer-link">
          <a
            href="legal"
            class="d-block text-decoration-none mb-3"
            data-umami-event="Footer"
            data-umami-event-footer="MentionsLegales"
            >Mentions Légales et CGU</a
          >
        </div>
        <div class="d-flex justify-content-center justify-content-md-start">
          <a
            href="https://github.com/eolivarez2008/Mon-Bac-Pro-CIEL"
            target="_blank"
            class="social-icon d-inline-flex align-items-center gap-2 px-3 w-auto text-decoration-none"
            data-umami-event="Footer"
            data-umami-event-footer="Github"
            style="height: 40px; border-radius: 8px; white-space: nowrap"
          >
            <i class="mdi mdi-github"></i>
            <span class="small fw-normal">Projet Open Source</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
