<!-- Desktop navbar -->
<nav class="fixed-top navbar desktop-navbar">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex gap-4 mx-auto">
      <a class="nav-link" href="/" data-target="accueil">Accueil</a>
      <a class="nav-link" href="formation" data-target="formation">Formation</a>
      <a class="nav-link" href="debouches" data-target="debouches">Débouchés</a>
      <a class="nav-link" href="projets" data-target="debouches">Projets</a>
      <a class="nav-link" href="stages" data-target="stages">Stages</a>
      <a class="nav-link" href="temoignages" data-target="temoignages">Témoignages</a>
    </div>
    <div class="d-flex">
      <button id="wifiBtnNavbar" class="btn-accent">
        <i class="mdi mdi-web"></i> Se connecter à Internet
      </button>
    </div>
  </div>
</nav>

<!-- Mobile navbar (icônes) -->
<nav class="navbar-mobile-icons">
  <div class="mobile-icons-bar">
  <a href="/" class="icon-link" title="Accueil"><i class="mdi mdi-home"></i></a>
  <a href="/formation" class="icon-link" title="Formation"><i class="mdi mdi-school"></i></a>
  <a href="/debouches" class="icon-link" title="Débouchés"><i class="mdi mdi-briefcase"></i></a>
  <a href="/projets" class="icon-link" title="Projets"><i class="mdi mdi-lightbulb-on"></i></a>
  <a href="/stages" class="icon-link" title="Stages"><i class="mdi mdi-calendar-check"></i></a>
  <a href="/temoignages" class="icon-link" title="Témoignages"><i class="mdi mdi-account-group"></i></a>
  </div>
</nav>
