<nav class="fixed-top navbar">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex gap-4 mx-auto">
      <a class="nav-link" href="/" data-target="accueil">Accueil</a>
      <a class="nav-link" href="formation" data-target="formation">Formation</a>
      <a class="nav-link" href="debouches" data-target="debouches">Débouchés</a>
      <a class="nav-link" href="projets" data-target="debouches">Projets</a>
      <a class="nav-link" href="stages" data-target="stages">Stages</a>
      <a class="nav-link" href="temoignages" data-target="temoignages">Témoignages</a>
    </div>

    <div class="d-flex">
      <button id="wifiBtnNavbar" class="btn-accent">
        <i class="mdi mdi-web"></i> Se connecter à Internet
      </button>
    </div>
  </div>
</nav>
