<!-- Navbar -->
<nav class="fixed-top navbar desktop-navbar">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex gap-4 mx-auto">
      <a class="nav-link" href="/" data-target="accueil" data-umami-event="Nav-Accueil">Accueil</a>
      <a class="nav-link" href="formation" data-target="formation" data-umami-event="Nav-Formation">Formation</a>
      <a class="nav-link" href="debouches" data-target="debouches" data-umami-event="Nav-Debouches">Débouchés</a>
      <a class="nav-link" href="projets" data-target="projets" data-umami-event="Nav-Projets">Projets</a>
      <a class="nav-link" href="stages" data-target="stages" data-umami-event="Nav-Stages">Stages</a>
      <a class="nav-link" href="temoignages" data-target="temoignages" data-umami-event="Nav-Temoignages">Témoignages</a>
    </div>
    <div class="d-flex">
      <button id="wifiBtnNavbar" class="btn-accent" data-umami-event="Nav-ConnexionInternet">
        <i class="mdi mdi-web"></i> Se connecter à Internet
      </button>
    </div>
  </div>
</nav>
