.navbar {
  backdrop-filter: blur(10px);      
  padding: 25px 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: #cfeaf6;
  margin: 0 0.8rem;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link.active {
  color: var(--accent) !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background:var(--accent);
  transition: width 0.3s ease;
}

.nav-link:hover {
  color:var(--accent);
}

.nav-link:hover::after {
  width: 100%;
}